*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Bell MT';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/2445.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-card {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to bottom, #2ecc71, #b8e8cc);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.4);
}

h1 {           /*NOSH*/
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: rgb(58, 51, 51);
    margin-bottom: 10px;
}

.subtitle{   /*Fuel Your Journey*/
    text-align: center;
    color: rgb(58, 51, 51);
    margin-bottom: 32px;
    animation: appear 3s ease-out;
}

.field{   /*Email and Password*/
    position: relative;
    margin-bottom: 24px;
}

.field input{               /* When you type*/
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    outline: none;
}

.field label{  /*Color of Email and Password*/
    position: absolute;
    left: 0;
    top: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.field input:focus {        
    border-bottom-color: rgba(0, 0, 0, 0.4);
}

.field input:focus + label,
.field input:valid + label{
    top: -14px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
}

.options{       /*Remember Me*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.options input{
    margin-right: 6px;
}

button{         /* Sign In*/
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 8px;
    background: linear-gradient(to right, #9edbbb, #f7efef);
    color: rgb(58, 51, 51);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: linear-gradient(to bottom, #b0cdbc, #b8e8cc)
}
/* Signup redirect text */
.signup-text {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

/* Signup link */
.signup-text a {
    color: rgb(58, 51, 51);
    font-weight: 600;
    text-decoration: none;
}

/* Hover effect */
.signup-text a:hover {
    text-decoration: underline;
}
